<h2>Listing all Articles</h2>

<table>
	<tr>
		<th>Title</th>
		<th>Body</th>
		<th>Action</th>
	</tr>
	<% @articles.each do |article| %>
		<tr>
			<td><%=link_to article.title, article_path(article) %></td>
			<td><%= article.body %></td>
			<td><%= "Edit | Show | Delete" %></td>
		</tr>
	<% end %>
</table>
<%= link_to "New Article", new_article_path %> 